body {
    font-family: Arial;
    background: linear-gradient(180deg, #f6f8fb 0%, #fff 100%);
    margin: 0;
    line-height: 1.4;
}

header {
    background: url(../images/ciel.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

header p {
    margin: 0;
    color: #fff;
    font-size: 30px;
}

.logo img {
    height: 350px;
    margin-bottom: 10px;

}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    line-height: 1.6;
    color: #111;
}

.container h2 {
    color: #1976d2;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
    border-bottom: 2px solid #1976d2;
    padding-bottom: 5px;
}

.container p,
.container a {
    font-size: 16px;
    color: #333;
}

.container a {
    color: #1976d2;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 15px 0;
    background: #f6f8fb;
    font-size: 14px;
}